


* {                             
    margin: 0;                    
    padding: 0;                   
    box-sizing: border-box; 
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;      
    background: #090947;        
    color: #391746;                 
    padding: 30px;
}

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;         
    background: #360545;         
    border-radius: 8px;          
    padding: 15px 25px;          
}


#paginas {
    display: flex;            
    gap: 25px;          
    list-style: none; 
    align-items: right;
}


#loguito {
    align-items:left;
}

#banner {
    color:#600361;

}


h1 {
    text-align:left;         
    margin-bottom: 40px;        
    color: #010101;           
}

h2 {
    margin-bottom: 15px;        
    color: #020202;             
    font-size: 1.2rem;        
}


section {
    background: #600361;       
    padding: 25px;              
    margin-bottom: 35px;        
    box-shadow: 0 4px 15px rgba(46, 2, 52, 0.3); 
}

.flex-container {
    display: flex; 
    gap: 10px;                  
    background: #05512d;         
    border-radius: 8px;          
    padding: 15px;               
    min-height: 100px;
    justify-content: space-between; 
}


.flex-item {
    display: flex;
    background: #e94560;        
    color: #fff;               
    border-radius: 6px;         
    padding: 20px;              
    text-align: center;          
    font-weight: bold;           
    font-size: 1.1rem;           
    transition: transform 0.2s;
}

.card-container {
    display: flex;               
    gap: 20px;                   
    flex-wrap: wrap; 
}


#columnas .flex-item:nth-child(1){
    flex: 1;
}

#columnas .flex-item:nth-child(2){
    flex: 1;
}

#columnas .flex-item:nth-child(3){
    flex: 1;
}

#columnas .flex-item:nth-child(4){
    flex: 1;
}



#cajas .flex-item:nth-child(1){
    flex: 1;
}

#cajas .flex-item:nth-child(2){
    flex: 1;
}

#cajas .flex-item:nth-child(3){
    flex: 1;
}

#cajas .flex-item:nth-child(4){
    flex: 1;
}